<!DOCTYPE html>
<html>
<head>
    <title>Hello, World!</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>                 <!-- Include this for api access to elevenlabs below -->
</head>
<body>
    <!-- code below here to display the jinja2 variable called 'message'   -->

    <h1 style="white-space: pre-line">message is {{ message }}</h1>
    <div id="slideshow"></div>
    <script>
        const message2 = {{ message|tojson }};
    
        let index = 0;
        setInterval(() => {
            document.getElementById("slideshow").innerHTML = message2[index];
            index = (index + 1) % message2.length;
        }, 2000);
    </script>

    <!-- Code below to call the API at https://api.elevenlabs.io/v1/text-to-speech/model-id -->
    <script>
        $(document).ready(function() {
            var apiKey = "e0b38f32df8f9115de050666e8030d73";
            var voiceId = "B8nHSeMaRy9alGTt58OW";
            var text = $("#the_words").text();

            $.ajax({
                type: "POST",
                url: "https://api.elevenlabs.io/v1/text-to-speech/" + voiceId,
                headers: {
                    "xi-api-key": apiKey
                },
                data: {
                    text: text
                },
                success: function(response) {
                    // The API call was successful, and the audio file is available in 'data'
                    console.log("API read Success:", response);
                },
                error: function(jqXHR, Status, errorThrown) {
                    // There was an error with the API call
                    console.log("API read Error:", Status, errorThrown);
                }
            });
        });
    </script>


</body>
</html>